# collection


.list
    indexed
    orderded
    hetrogenous
    duplicate items exists
    nesting
    representation [ ]

In [5]:
list1 = ["nikhlesh","aman",'rahul','devansh','risabh']
list2 = ["1","2",'3','4','5','15','25','100']
list3 = ["ravi",90,120,93,29,44,"B",False,5.786]
list4 = [[1,2,3],[3,4,5,7],[2,1]]

In [6]:
list1 =[2,4,6,'A',10,'B',16,'C',20]
print('list1 = ',list1)


print('list1[0]=',list1[0])

print('list1[2]=',list[2])

print('list1[-1]',list1[-1])

print('list[-3]',list1[-3])



#

list1 =  [2, 4, 6, 'A', 10, 'B', 16, 'C', 20]
list1[0]= 2
list1[2]= list[2]
list1[-1] 20
list[-3] 16

In [1]:
l= [10,20,30,40,50,60,70,80,90,100]
slice1 = l[3:-2]
print(slice1)

[40, 50, 60, 70, 80]

In [2]:
l= [10,20,30,40,50,60,70,80,90,100]
slice1 = l[5:]
slice2 = l[5:len(l)]
print(slice1)
print(slice2)

[60, 70, 80, 90, 100]
[60, 70, 80, 90, 100]

In [10]:
fruits = []
fruits.append("apple")
fruits.append("banana")
fruits.append("cheery")
fruits.append("guava")
fruits

['apple', 'banana', 'cheery', 'guava']

In [7]:
fruits = ['apple','banana','cherry']

fruits.insert(1,"orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [3]:
fruits = ['apple','banana','cheery','guavava']
dry_fruits = ['almond','cashew','walnut']
fruits.extend(dry_fruits)
fruits

['apple', 'banana', 'cheery', 'guavava', 'almond', 'cashew', 'walnut']

In [4]:
#sort function
fruits =['cheery','gauvava','apple','banana']
fruits.sort()
fruits

['apple', 'banana', 'cheery', 'gauvava']

In [9]:
x=[1,2,3,4,5,6,45,1,1,2,2,2,2,2,2,2,3,3,4,6,7,8]
x.count(2)

8

In [1]:
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
my_tuple =("mouse",[8,4,6],(1,2,3))
print(tuple)

<class 'tuple'>

In [4]:
my_tuple = 3, 4.6, "Apple"
print(my_tuple)

(3, 4.6, 'Apple')

In [5]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

p
t

In [6]:
n_tuple = ("mouse",[8,4,6],(1,2,3))

print(n_tuple[0][3])
print(n_tuple[1][1])

s
4

In [7]:
my_tuple= ('e','x','c','a','l','i','b','u','r')

In [8]:
print(my_tuple[1:4])

('x', 'c', 'a')

In [9]:
print(my_tuple[:-7])

('e', 'x')

In [10]:
print(my_tuple[7:])

('u', 'r')

In [11]:
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'i', 'b', 'u', 'r')

In [12]:
print((1,2,3)+ (4,5,6))

(1, 2, 3, 4, 5, 6)

In [13]:
print(("Repeat",)*3)

('Repeat', 'Repeat', 'Repeat')

In [14]:
my_tuple = ('a','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

1
2

set

In [15]:
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [16]:
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [20]:
my_set= set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [21]:
my_set ={1,3}
print(my_set)

{1, 3}

In [22]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [23]:
my_set={1,3,4,5,6}
print(my_set)

{1, 3, 4, 5, 6}

In [24]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [25]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [26]:
A= {1,2,3,4,5}
B= {4,5,6,7,8}

In [27]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
B.union(A)
{1,2,3,4,5,6,7,8}

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
A= {1,2,3,4,5}
B= {4,5,6,7,8}

In [31]:
print(A&B)

{4, 5}

In [32]:
print(A-B)

{1, 2, 3}

In [33]:
A.difference(B)

{1, 2, 3}

In [34]:
B-A
{8,6,7}

{6, 7, 8}

In [35]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [36]:
A.symmetric_difference(B)
{1,2,3,6,7,8}

{1, 2, 3, 6, 7, 8}

DICTIONARY

In [37]:

my_dict = {1:'apple',2: 'ball'}

In [38]:
my_dict ={'name': 'jack','age':26}

In [39]:
print(my_dict['name'])

jack

In [40]:
print(my_dict.get('age'))

26

In [41]:
print(my_dict.get('address'))

None

In [42]:
my_dict['age']=27

In [43]:
print(my_dict)

{'name': 'jack', 'age': 27}

In [44]:
my_dict['address']='Downtown'

In [45]:
print(my_dict)

{'name': 'jack', 'age': 27, 'address': 'Downtown'}

In [46]:
squares ={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [47]:
print(squares.pop(4))

16

In [48]:
print(squares.popitem())

(5, 25)

In [ ]:
squares.clear()

In [ ]:
del squares